<div class="webcam">
	<div id="localCanvasGroup">
		<canvas id="localCanvas" width="946" height="1262"></canvas>
		<canvas id="localCanvasT3D" width="946" height="1262"></canvas>
		<canvas id="localCanvasFaceSub" width="946" height="1262"></canvas>
		<canvas id="localCanvasDrawing" width="946" height="1262"></canvas>
		<canvas id="localEffect" width="946" height="1262"></canvas>		
	</div>
	<img id="videoWaterMark" class="camElement" src="./assets/images/watermark.png" />
	<div id="camControl">
		<a href="#" data-action="takeVideo"></a>
	</div>

	<div id="camPosTip">
		<img src="./assets/images/SeeCamera.png" />
	</div>

	<div id="camTimer">
		<img src="./assets/images/blank.gif" class="tip" />
		<img src="./assets/images/blank.gif" class="timer" />
	</div>

	<div id="camEndedPanel" class="camElement">
		<a href="#" data-action="retakePreview"></a>
		<a href="#" data-action="skipPreview"></a>
	</div>

	<div id="camPreviewPanel" class="camElement">
		<img src="./assets/images/blank.gif" />
		<video poster="./assets/images/processing.gif" autoplay="autoplay"></video>
	</div>
</div>
<div id="camTimerImages" class="preloadImages">
	<img src="./assets/images/rec1.png" data-image-type="video" data-image-no="1" />
	<img src="./assets/images/rec2.png" data-image-type="video" data-image-no="2" />
	<img src="./assets/images/rec3.png" data-image-type="video" data-image-no="3" />
	<img src="./assets/images/rec4.png" data-image-type="video" data-image-no="4" />
	<img src="./assets/images/rec5.png" data-image-type="video" data-image-no="5" />
	<img src="./assets/images/rec6.png" data-image-type="video" data-image-no="6" />

	<img src="./assets/images/Recording.png" data-image-type="video-tip" />
	
	<img src="./assets/images/Take1.png" data-image-type="gif-tip" data-image-no="1" />
	<img src="./assets/images/Take2.png" data-image-type="gif-tip" data-image-no="2" />
	<img src="./assets/images/Take3.png" data-image-type="gif-tip" data-image-no="3" />
</div>

<script id="wmcTemplate" type="text/x-jquery-tmpl">
	<div class="title"><img src="./assets/images/SelectYourPhotoFrame.png" /></div>
	{{each data}}
	<h3>${sponsor_name}</h3>
	<div class="watermarkList">
		{{each watermark}}
			<a href="#" class="watermark"><img src="${image.watermark}" data-watermark-idx="${$index}" data-watermark-id="${id}" /></a>
		{{/each}}
	</div>
	{{/each}}
</script>

<script id="arcTemplate" type="text/x-jquery-tmpl">
	<div class="arList">
		{{each data}}
			<a href="#" class="ar"><img src="${thumbData}" data-ar-type="${type}" data-ar-idx="${$index}" data-ar-data="${data}" /></a>
		{{/each}}
	</div>
</script>